<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168772655786-nlrshdq8ihg9u80vo0d9aig9nb9p19sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168772655786-nlrshdq8ihg9u80vo0d9aig9nb9p19sp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>168772655786-fvt7qtbidno9qvvnkknjad0n1qcojel6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_lhyI_3kHu3xXZ0y_yFKSUoMZAJ0cweQ</string>
	<key>GCM_SENDER_ID</key>
	<string>168772655786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sparkd</string>
	<key>PROJECT_ID</key>
	<string>sparkd-49c4a</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkd-49c4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168772655786:ios:4e19fe035ad19b7c7fced3</string>
</dict>
</plist>